/* Global Styles */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb;
}

/* Hero Section */
.hero-section {
    background-image: url('https://via.placeholder.com/1500x800'); /* Replace with your hero image */
    background-size: cover;
    background-position: center;
}

/* Image Section */
.image-section {
    background-image: url('../images/1735662737078.png');
    background-size: cover;
    background-position: center;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #124C4C;
    padding: 1rem 2rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
    position: relative;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
}

#plus {
    color: #FF6B6B; /* Updated color for #plus */
}

.contact-button {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 29px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 10;
}

.dropdown-menu a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    width: 10rem;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.menu:hover .dropdown-menu {
    display: block;
}

/* Additional Styling for Logo */
.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #124C4C; /* Adjusted to match theme */
}

/* Container for content */
.container {
    margin-top: 100px;
}
